<!DOCTYPE html>
<html lang="en-gb" dir="ltr"  xmlns:th="http://www.thymeleaf.org" class="uk-height-1-1 uk-notouch">
<head>
    <title></title>
    <link rel="stylesheet" href="/css/uikit.min.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/uikit.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/messages_zh.min.js"></script>
</head>
<body class="uk-height-1-1">
<ul class="uk-nav uk-nav-side">
    <li><a href="/page/toList">任务列表</a></li>
    <li><a href="/page/toAdd">添加任务</a></li>
    <li><a href="/page/adminList">管理员列表</a></li>
</ul>
<div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle">
        <form class="uk-form uk-form-horizontal" method="post" action="/addAdmin" id="form1">
            <legend>管理员信息</legend>
            <fieldset data-uk-margin>
                <div class="uk-form-row">
                    <label class="uk-form-label">登录名称</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="username" name="username" class="uk-form-width-large" required>
                    </div>
                    <label class="uk-form-label">登录密码</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="password" name="password" class="uk-form-width-large" >
                    </div>
                    <label class="uk-form-label">权限</label>
                    <div class="uk-form-controls">
                        <select name="role" class="uk-form-width-large" required>
                            <option selected="selected"></option>
                            <option value="1" >管理员</option>
                            <option value="0" >超级管理员</option>
                        </select>
                    </div>
                    <label class="uk-form-label">角色名称</label>
                    <div class="uk-form-controls">
                        <input type="text" placeholder="realname" name="realname" class="uk-form-width-large" required>
                    </div>
                    <label class="uk-form-label">用户描述</label>
                    <div class="uk-form-controls">
                        <textarea type="text"  name="info" class="uk-form-width-large" ></textarea>
                    </div>

                    <div class="uk-form-controls">
                        <input class="uk-button uk-button-success" type="submit" id="btnSave">
                        <input class="uk-button uk-button-primary" type="reset" id="btnRset">
                    </div>

                </div>

            </fieldset>
        </form>
        <h3 class="uk-text-center uk-text-primary uk-text-large"></h3>
    </div>
</div>

</body>
<script th:inline="javascript">
    $(function () {


        $('#form1').submit(function () {
            $("#form1").validate();
            $(this).ajaxSubmit(options);
            return false;
        });

        var options={
            type: 'POST',
            data: $(this).serialize(),
            success: function (data) {
                if(data.res=="success")
                {
                    alert(data.mes);
                }else
                {
                    alert(data.mes);
                }
            }
        };

    });

</script>

</html>