<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}"  media="all" type="text/css"/>
</head>
<body>

<div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle">
        <h2>这里是首页</h2>
        <ul class="uk-nav uk-nav-side">
            <li><a href="/page/toList" >任务列表</a></li>
            <li><a href="/page/toAdd" >添加任务</a></li>
            <li><a href="/page/adminList">管理员列表</a></li>
        </ul>
        <p th:text="${username}"></p>
        <p th:text="${realName}"></p>
        <a th:href="@{/logout}">注销</a>
    </div>
</div>
</body>

</html>